
<div class="edit-course-form">

    <h1 mat-dialog-title>{{cacca.description}}</h1>

    <div [formGroup]="form" mat-dialog-content class="mat-content">

        <mat-form-field >

            <input matInput placeholder="Course Description" formControlName="description">

        </mat-form-field>

        <mat-form-field>

            <mat-select placeholder="Select category">

                <mat-option value="BEGINNER">Beginner</mat-option>
                <mat-option value="INTERMEDIATE">Intermediate</mat-option>
                <mat-option value="ADVANCED">Advanced</mat-option>

            </mat-select>

        </mat-form-field>

        <mat-form-field>

            <input matInput [matDatepicker]="myDatepicker">

            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>

            <mat-datepicker #myDatepicker></mat-datepicker>

        </mat-form-field>

        <mat-form-field>

            <textarea matInput placeholder="Description">

            </textarea>

        </mat-form-field>

    </div>

    <div mat-dialog-actions class="dialog-actions">
        <button mat-raised-button (click)="close()">Close</button>
        <button mat-raised-button color="primary" cdkFocusInitial (click)="save()">Save</button>
    </div>

</div>
<!-- formControlName="description"
formControlName="category"
formControlName="releasedAt"
formControlName="longDescription" -->