
<div class="drag-drop-container" cdkDropListGroup>

  <div class="pending">

    <h3>Lessons To Watch:</h3>

    <div class="lessons-list" cdkDropList [cdkDropListData]="lessons" (cdkDropListDropped)="dropMultiList($event)">

        <div class="lesson drag-drop-item" *ngFor="let lesson of lessons" cdkDrag>
            <div *cdkDragPlaceholder class="drop-placeholder"></div>
            <div  >{{lesson.description}}</div>

        </div> 

    </div>

  </div>

  <div class="done">

    <h3>Done:</h3>

    <div class="lessons-list" cdkDropList [cdkDropListData]="done"  (cdkDropListDropped)="dropMultiList($event)">

        <div class="lesson drag-drop-item" *ngFor="let lesson of done" cdkDrag>
            <div *cdkDragPlaceholder class="drop-placeholder"></div>
            <div  >{{lesson.description}}</div>

        </div> 

    </div>

  </div>

</div>
