@use "@angular/material" as mat;
/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

.highlight-date {
  background: orange !important;
  border-radius: 100% !important;
}
.mat-mdc-tab-label-container{
    flex-grow: 0!important;
}

@import './mixins';

@include responsive-dialogs();
